USE [master]
GO
/****** Object:  Database [BazaPodataka]    Script Date: 3/6/2021 12:16:02 PM ******/
CREATE DATABASE [BazaPodataka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BazaPodataka', FILENAME = N'C:\Users\neven\BazaPodataka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BazaPodataka_log', FILENAME = N'C:\Users\neven\BazaPodataka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BazaPodataka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BazaPodataka]
GO
USE [BazaPodataka]
GO
/****** Object:  Table [dbo].[Kartica]    Script Date: 3/6/2021 12:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kartica](
	[KarticaID] [int] IDENTITY(1,1) NOT NULL,
	[SkupKarticaID] [int] NOT NULL,
	[TekstFront] [varchar](200) NULL,
	[TekstBack] [varchar](200) NULL,
 CONSTRAINT [PK_Kartica] PRIMARY KEY CLUSTERED 
(
	[KarticaID] ASC,
	[SkupKarticaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komentar]    Script Date: 3/6/2021 12:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komentar](
	[KomentarID] [int] IDENTITY(1,1) NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[SkupKarticaID] [int] NOT NULL,
	[Tekst] [varchar](200) NULL,
 CONSTRAINT [PK_Komentar_1] PRIMARY KEY CLUSTERED 
(
	[KomentarID] ASC,
	[KorisnikID] ASC,
	[SkupKarticaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 3/6/2021 12:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [varchar](50) NULL,
	[Sifra] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Uloga] [int] NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lajk]    Script Date: 3/6/2021 12:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lajk](
	[KorisnikID] [int] NOT NULL,
	[SkupKartica] [int] NOT NULL,
 CONSTRAINT [PK_Lajk] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC,
	[SkupKartica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Podkomentar]    Script Date: 3/6/2021 12:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Podkomentar](
	[PodKomentarID] [int] IDENTITY(1,1) NOT NULL,
	[KomentarID] [int] NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[SkupKartica] [int] NOT NULL,
	[Tekst] [varchar](200) NULL,
	[PodkomentarisaoID] [int] NULL,
 CONSTRAINT [PK_Podkomentar_1] PRIMARY KEY CLUSTERED 
(
	[PodKomentarID] ASC,
	[KomentarID] ASC,
	[KorisnikID] ASC,
	[SkupKartica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predmet]    Script Date: 3/6/2021 12:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predmet](
	[PredmetID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](200) NULL,
	[GodinaStudija] [int] NULL,
	[Semestar] [int] NULL,
	[Smer] [int] NULL,
 CONSTRAINT [PK_Predmet] PRIMARY KEY CLUSTERED 
(
	[PredmetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkupKartica]    Script Date: 3/6/2021 12:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkupKartica](
	[SkupKarticaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NULL,
	[DatumKreiranja] [datetime] NULL,
	[KorisnikID] [int] NULL,
	[PredmetID] [int] NULL,
 CONSTRAINT [PK_SkupKartica] PRIMARY KEY CLUSTERED 
(
	[SkupKarticaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kartica]  WITH CHECK ADD  CONSTRAINT [FK_Kartica_SkupKartica] FOREIGN KEY([SkupKarticaID])
REFERENCES [dbo].[SkupKartica] ([SkupKarticaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kartica] CHECK CONSTRAINT [FK_Kartica_SkupKartica]
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD  CONSTRAINT [FK_Komentar_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Komentar] CHECK CONSTRAINT [FK_Komentar_Korisnik]
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD  CONSTRAINT [FK_Komentar_SkupKartica] FOREIGN KEY([SkupKarticaID])
REFERENCES [dbo].[SkupKartica] ([SkupKarticaID])
GO
ALTER TABLE [dbo].[Komentar] CHECK CONSTRAINT [FK_Komentar_SkupKartica]
GO
ALTER TABLE [dbo].[Lajk]  WITH CHECK ADD  CONSTRAINT [FK_Lajk_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lajk] CHECK CONSTRAINT [FK_Lajk_Korisnik]
GO
ALTER TABLE [dbo].[Lajk]  WITH CHECK ADD  CONSTRAINT [FK_Lajk_SkupKartica] FOREIGN KEY([SkupKartica])
REFERENCES [dbo].[SkupKartica] ([SkupKarticaID])
GO
ALTER TABLE [dbo].[Lajk] CHECK CONSTRAINT [FK_Lajk_SkupKartica]
GO
ALTER TABLE [dbo].[Podkomentar]  WITH CHECK ADD  CONSTRAINT [FK_Podkomentar_Komentar] FOREIGN KEY([KomentarID], [KorisnikID], [SkupKartica])
REFERENCES [dbo].[Komentar] ([KomentarID], [KorisnikID], [SkupKarticaID])
GO
ALTER TABLE [dbo].[Podkomentar] CHECK CONSTRAINT [FK_Podkomentar_Komentar]
GO
ALTER TABLE [dbo].[Podkomentar]  WITH CHECK ADD  CONSTRAINT [FK_Podkomentar_Korisnik] FOREIGN KEY([PodkomentarisaoID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Podkomentar] CHECK CONSTRAINT [FK_Podkomentar_Korisnik]
GO
ALTER TABLE [dbo].[SkupKartica]  WITH CHECK ADD  CONSTRAINT [FK_SkupKartica_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkupKartica] CHECK CONSTRAINT [FK_SkupKartica_Korisnik]
GO
ALTER TABLE [dbo].[SkupKartica]  WITH CHECK ADD  CONSTRAINT [FK_SkupKartica_Predmet] FOREIGN KEY([PredmetID])
REFERENCES [dbo].[Predmet] ([PredmetID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkupKartica] CHECK CONSTRAINT [FK_SkupKartica_Predmet]
GO
USE [master]
GO
